<%= form_with model: @memorial do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.label Memorial.human_attribute_name(:avatar) %>
  <div class="gravatar_edit">
    <%= avatar_for @memorial %>
  </div>
  <span class="image">
    <%= f.file_field :avatar %>
  </span>
  <%= f.label Memorial.human_attribute_name(:name) %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label Memorial.human_attribute_name(:gender) %>
  <%= f.select :gender, options_for_select([[t("female"), 0],
    [t("male"), 1]], @memorial.gender) %>
  <%= f.label Memorial.human_attribute_name(:cause_of_death) %>
  <%= f.text_field :cause_of_death, class: "form-control" %>
  <%= f.label Memorial.human_attribute_name(:relationship) %>
  <%= f.text_field :relationship, class: "form-control" %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
