<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= avatar_for memorial %>
        <%= memorial.name %>
       <span>
        <%= t("placetime.born_on") %>
        <%= show_date_of memorial, :birth %>
       </span>
       <span>
        <%= t("placetime.die_on") %>
        <%= show_date_of memorial, :death %>
       </span>
      </h1>
    </section>
  </aside>
</div>
