<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= avatar_for memorial %>
        <%= memorial.name %>
       <span>
        <%= t("placetime.born_on") %>
        <%= memorial.birth_date.strftime(Settings.date_format) %>
       </span>
       <span>
        <%= t("placetime.die_on") %>
        <%= memorial.death_date.strftime(Settings.date_format) %>
       </span>
      </h1>
    </section>
  </aside>
</div>
