<% provide :title, t("memorial.profile") %>
<h1 class="about"><%= t("memorial.show.about") %></h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
       <span>
        <%= t("placetime.born_on") %>
        <%= show_date_of @memorial, :birth %>
        <%= t "placetime.at" %>
        <%= @memorial.place :birth %>
       </span>
       <span>
        <%= t("placetime.die_on") %>
        <%= show_date_of @memorial, :death %>
        <%= t "placetime.at" %>
        <%= @memorial.place :death %>
       </span>
      </h1>
    </section>
  </aside>
</div>
